<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Прогресс</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='large.css') }}">
    <script src="/static/script.js"></script>


</head>
<body id="body", class="{{ 'dark-mode' if dark_mode else '' }} {% if large_mode %}large-mode{% endif %}">

<div class="container">
    <h1>Твой прогресс</h1>

    <p>Попыток: {{ attempts }}</p>
    <p>Успешных: {{ success }}</p>

    <a href="/">Назад</a>
</div>

</body>
</html>
