<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Настройки</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='large.css') }}">
    <script src="/static/script.js"></script>

</head>
<body class="{{ 'dark-mode' if dark_mode else '' }} {% if large_mode %}large-mode{% endif %}">

<div class="container">
    <h1>Настройки</h1>

    <form method="POST">
        <p>
            <label>
                <input type="checkbox" name="large_mode"
                       {% if large_mode %}checked{% endif %}>
                Крупные элементы
            </label>
        </p>

        <button type="submit" class="success">
            Сохранить
        </button>
    </form>

    <a href="/">Назад</a>
</div>

</body>
</html>
